body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #FAFAFA;
  overflow-x:hidden;
}
.water {
  list-style: none;
}

.water li {
  font-weight: 700;
  display: inline-block;
  padding: 0px 10px;
}

.water li a {
  transition: all 0.3s ease 0s;
  color: black;
}

.water li a:hover {
  color: #2549D3;
}
/* imported font family from google fonts */
.find a {
  color: white;
}
.find{
    margin-left: 20px;
    padding: 9px 10px;
    background-color: #2549D3;
    border: 0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    outline: none;
}
